{% extends 'layout.html' %}
{% block title %} Add Customer {% endblock %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}
{% block content %}
 <section class="content">
      <div class="row">
        <div class="col-xs-12">
        <div class="row">
  <ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'book' %}">Book</a></li>
  <li class="breadcrumb-item active">Edit</li>
</ol>
  </div>
          <div class="box">
{#            <div class="box-header">#}
{#              <h3 class="box-title">Data Machine</h3>#}
{##}
{#            </div>#}
            <!-- /.box-header -->
            <div class="box-body">
                            <div class="box-header with-border">
              <h3 class="box-title">View Book</h3>
            </div>

               <table class="table ">
                   <tr>
                       <th>Title</th>
                       <td>:</td>
                       <td>{{ data.title }}</td>
                   </tr>
                    <tr>
                       <th>Author</th>
                       <td>:</td>
                       <td>{{ data.author }}</td>
                   </tr>
                    <tr>
                       <th>Date Publish</th>
                       <td>:</td>
                       <td>{{ data.publish_at }}</td>
                   </tr>
                    <tr>
                       <th>Number Of Page</th>
                       <td>:</td>
                       <td>{{ data.number_of_page }}</td>
                   </tr>
                    <tr>
                       <th>Type Of Book</th>
                       <td>:</td>
                       <td>    {% if data.type_of_book == "nov" %}
                        one of novel
                      {% elif data.type_of_book == "doc" %}
                        documentation
                      {% else %}
                          other
                      {% endif %}</td>
                   </tr>
                   <tr>
                       <td></td>
                       <td></td>
                       <td><a href="{% url 'book' %}" class="btn btn-success pull-right">>> Back</a></td>
                   </tr>
               </table>
          </div>
</div>
        </div>
      </div>
 </section>

{% endblock %}